head {
    background-color: #ffffff;
    border-color: #cccccc;
}

html {
    background-image: url("https://d13yacurqjgara.cloudfront.net/users/6837/screenshots/2836848/attachments/583198/sayagata-400px.png");
}

footer {
    background-color: #666666;
    overflow: auto;
    bottom: 0%;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    float: left;
    margin-top: 10%;
    position: relative;
}

h1 {
    font-size: 35px;
    color: white;
    background-color: #4aaaa5;
    margin: auto;
}

h3 {
    color: black;
    float: right;
    margin: 0px;
    padding: 10px;
}

h4 {
    color: white;
}

h2 {
    font-size: 30px;
    width: 1024px;
    margin: 0;
    line-height: 200px;
    color: #4aaaa5;
    line-height: 1.5;
    padding-left: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
    font-color: #333333;
    margin: 0;
    padding: 0;
    width: auto;
    float: left;
    background-size: 100% 100%;
    /*    width: 100%;
    max-width: 1024px;*/
}

a {
    color: #d21034
}

p {
    font-size: 25px;
    text-align: left;
    margin: 5%;
}

img {
    display: block;
    margin: auto;
    width: 200px;
}

ol,
li {
    color: black;
}

.container {
    margin-top: 15%;
    padding-left: 2%;
    clear: both;
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
    overflow: hidden;
}

.navigation {
    width: 100%;
    margin: auto;
    overflow: auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    top: 0;
    margin-bottom: 2%;
    z-index: 3;
    position: absolute;
}

.contact-img {
    width: 70px;
    height: 70px;
    margin: 0px;
    display: block;
    float: left;
    padding: 10px;
    overflow: auto;
}

#main-bio {
    float: left;
    width: 60%;
    background-color: #ffffff;
}

#contact-info {
    float: left;
    width: 280px;
    margin-left: 20px;
    background-color: white;
}

#bio-image {
    float: left;
    width: 200px;
    margin: 20px;
}

#Main-Name {
    width: 33.3%;
    line-height: 3;
    float: left;
    padding-left: 2%;
    text-align: center;
}

#tealline {
    background-color: #4aaaa5;
    background-size: 20px;
    height: 10px;
    margin: auto;
    border: 0;
}

#grayline {
    background-color: #d3d3d3;
    background-size: 20px;
    height: 10px;
    margin: auto;
    border: 0;
    width: 100%;
    box-shadow: 30px 20px 5px black;
}

#links {
    background-color: white;
    float: right padding: 20px;
    margin-top: auto;
    padding-bottom: 0px;
    line-height: 3;
}

.center {
    text-align: center;
    float: none;
}

.portfolio-img {
    position: relative;
    float: left;
    height: 200px;
    width: 200px;
}

.spacing {
    margin: 2%;
}

#portfolio-label {
    font-size: 80%;
    color: white;
    background-color: #4aaaa5;
    margin: auto;
    margin-bottom: 2%;
}

.box {
    background: #4aaaa5;
    height: 10%;
    position: relative;
    bottom: 30%;
    width: 100%;
}

.box-2 {
    left: 40px;
    position: absolute;
}

.box-3 {
    bottom: 5%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    height: 50px;
    margin: 0px;
    color: white;
    line-height: 2;
}

.content-wrapper {
    min-height: 100% min-width: 100%;
}

#messagebox {
    height: 200px;
    width: 300px;
}


/*
Additional Specifcations

Colors: Pro-tip: Use the Eye Dropper Chrome extension to find the colors used on web pages.

Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings) = #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
Fonts

Heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;
All other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
Profile Image Found on index.html

Use a picture of yourself.
If you don't have a picture, you can grab a placeholder image from LoremPixel. Save the images to your images folder
Portfolio Images

Placeholder images can be found LoremPixel.
Save the images to your images folder
Social Link Images (Github, LinkedIn and StackOverflow, etc.)

These images can be found on IconFinder.
Save the images to your images folder
Background Images

The background pattern used was found on Subtle Patterns. You can browse through that site and find whichever pattern you like.
Dimensions

The entire content area is 960px wide.
The main section content is 650px wide.
The sidebar is 270px wide.
Pro-tip. Use the Page Ruler extension to measure the size of elements
Bonus

Make your pages more sophisticated by adding style to text links, image links and buttons for when a user hovers their cursor over them. A CSS hover tutorial can be found here.

You can use Adobe Kuler to find colors that match the theme (In this case, the primary color is Teal #4aaaa5).

/*Make a 'sticky footer.' You will notice the dark grey footer will always rest just below the content. This is fine whenever your site has enough content to push it down past the height of most honitors. But if there isn't much content in the body, the footer could rest in the middle of the page:*/
